<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="/weather" class="nav-link px-2 text-white">Weather</a></li>

            </ul>

        </div>
    </div>
</header>

<div class="container mt-4">
    <div class="row g-5">
        <div class="col-md-5 col-lg-4">
            <div class="list-group">
                <a href="/weather/Zhytomyr"><button type="button" class="list-group-item list-group-item-action active">Zhytomyr
                </button></a>
                <a href="/weather/Kyiv"><button type="button" class="list-group-item list-group-item-action">Kyiv</button></a>
                <a href="/weather/Lviv"> <button type="button" class="list-group-item list-group-item-action">Lviv</button></a>
                <a href="/weather/Odessa"> <button type="button" class="list-group-item list-group-item-action">Odessa</button></a>
            </div>
        </div>
        <div class="col-md-7 col-lg-8 p-3 rounded-2" style="border: 1px solid rgba(0,0,0,0.35)" >
            <div class="text-start" style="font-size: 1.4rem">Погода в місті {{weatherObj.city}}</div>
            <div class="d-flex justify-content-center" ><img style="width: 20%" src="http://openweathermap.org/img/wn/{{weatherObj.weather.weather.0.icon}}@2x.png"></div>
            <div>
                <table style="border: 1px solid black; width: 100%">
                    <tr><td style="border: 1px solid black; padding: 5px">Тиск</td><td style="border: 1px solid black; padding: 5px">{{weatherObj.weather.main.pressure}}</td></tr>
                    <tr><td style="border: 1px solid black; padding: 5px">Вологість</td><td style="border: 1px solid black; padding: 5px">{{weatherObj.weather.main.humidity}}</td></tr>
                    <tr><td style="border: 1px solid black; padding: 5px">Температура</td><td style="border: 1px solid black; padding: 5px  ">{{weatherObj.weather.main.temp}}</td></tr>
                </table>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>